<ion-view title="Adicionar Presença">
    <ion-content overflow-scroll="false">
            <div class="list list-inset">
                    <label class="item item-input">
                      <i class="icon ion-search placeholder-icon"></i>
                      <input type="text" placeholder="Procurar" ng-model="search">
                    </label>
                  </div>
            <ion-list class="list card">
                <ion-item class="item item-icon-left item-button-right" ng-repeat="jogador in Jogadores | filter: search | orderBy: 'nome'">
                    <i class="icon ion-person"></i>
                    {{jogador.nome}} {{jogador.sobrenome}}
                    <button class="button button-positive" ng-click="addPresenca(jogador)">
                        <i class="icon ion-plus" style="margin-left: -3px;margin-top: 1px"></i>
                    </button>
                </ion-item>
            </ion-list>       
    </ion-content>
</ion-view>