<ion-view title="Alertas">
    <ion-content overflow-scroll="false">
        <ion-list>
                <ion-item class="item-icon-left" ng-repeat="alert in alerts">
                        <i class="icon ion-flag balanced" ng-if="alert.status == 1"></i>
                        <i class="icon ion-information energized" ng-if="alert.status == 2"></i>
                        <i class="icon ion-alert assertive" ng-if="alert.status == 3"></i>
                        <p>{{alert.title}}</p>
                        <p>{{alert.desc}}</p>
                        <p>{{alert.hora}}</p>
                        <ion-option-button class="button-positive" ng-click="apagar(alert.$id)">OK</ion-option-button>  
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>