<ion-view title="Donos da Bola">
    <ion-content overflow-scroll="false" padding="true" style="background: url(img/wallpaper.jpg) no-repeat center;background-size:cover;"
        class="manual-ios-statusbar-padding">

        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <div>
            <img src="img/logo.png" style="max-height: 100%; max-width: 100%">
        </div>
        <div class="spacer" style="width: 300px; height: 70px;"></div>

        <form name="form" ng-submit="registrar(user)" class="list">

            <ion-list id="">
                <label class="item item-input">
                    <input type="email" placeholder="E-mail" ng-model="user.email" required>
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Senha" ng-minlength="6" ng-model="user.password" required>
                </label>
            </ion-list>

            <button ng-disabled="form.$invalid" class="button button-balanced button-block">Registrar</button>

        </form>
    </ion-content>
</ion-view>