<!-- <script>
  var d = new Date();
  var ano =  d.getFullYear() - 5;

  $(document).ready(function () {
    ('#birth').setAttribute("max", ano+'-12-31');
  });
</script> -->

<ion-view  title="Jogador"> 
    <ion-content overflow-scroll="false"> 
      <form name="form" ng-submit="salvarJogador(jogador)">
            <div class="list">

                    <!--div class="item item-image">
                      <img ng-src="{{pictureUrl}}">
                    </div>
                    <div class="padding">
                      <button ng-click="tirarFoto()" class="button button-block button-calm" >Tirar Foto</button>
                    </div-->

                    <div class="item item-image">
                      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                      <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
                    </div>
                    <a class="button button-block button-calm" ng-click="takePicture()"><i class="icon ion-camera"></i> Tirar Foto</a>

                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Nome</span>
                      <input type="text" placeholder="" ng-model="jogador.nome" required>
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Sobrenome</span>
                      <input type="text" placeholder="" ng-model="jogador.sobrenome" required>
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Apelido</span>
                      <input type="text" placeholder="" ng-model="jogador.nick" required>
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Data de Nascimento</span>
                      <input type="date" ng-model="jogador.data" max="2011-12-31" required>
                    </label>
                    <label class="item item-input item-stacked-label">
                      <span class="input-label">Celular</span>
                      <input type="text" placeholder="(DDD)Número" ng-model="jogador.celular" required>
                    </label>
                    <button class="button button-block button-balanced" ng-disabled="form.$invalid">Confirmar</button>
            </div>
     </form>
    </ion-content>
</ion-view>