<ion-view title="Eventos">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-primary" ng-click="meusEventos()">Cancelar</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <form name="form" ng-submit="salvarGrupo(grupo)">
                <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nome do Evento</span>
                            <input type="text" ng-minlength="3" placeholder="Vôlei na Praça" ng-model="grupo.Name" required></input>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input label">
                                Esporte
                            </div>
                            <select ng-model="grupo.Sport" required>
                                <option selected>Futebol</option>
                                <option>Vôlei</option>
                                <option>Basquete</option>
                            </select>
                            
                        </label>
                        <label class="item item-input item-select">
                            <div class="input label">
                                Dia
                            </div>
                            <select ng-model="grupo.Day" required>
                                <option selected>Domingo</option>
                                <option>Segunda</option>
                                <option>Terça</option>
                                <option>Quarta</option>
                                <option>Quinta</option>
                                <option>Sexta</option>
                                <option>Sábado</option>
                            </select>
                            
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Horário</span>
                            <input type="time" ng-model="grupo.Time" required></input>
                        </label>
                </div>
                <button ng-disabled="form.$invalid" class="button button-block button-balanced">Confirmar</button>
        </form>
    </ion-content>
</ion-view>