<ion-view title="Confrontos">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus" ng-click="criarConfronto(partida.id)"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <ion-list>
            <ion-item  class="card" ng-repeat="confronto in Confrontos">
                <h2 class="item item-text-wrap" style="text-align: center"><i class="icon ion-person-stalker"></i> {{confronto.time01}} ({{confronto.pontos01}}x{{confronto.pontos02}}) {{confronto.time02}} <i class="icon ion-person-stalker"></i></h2>
                <button class="button button-block button-small button-assertive" ng-click="apagar(confronto.$id)">
                    REMOVER
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>