<ion-view title="Criar Time">
    <ion-content overflow-scroll="false">
        <form name="form" ng-submit="salvarTime(Time)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nome do Time</span>
                    <input ng-model="Time.nome" type="text" placeholder="Xurupita" required>
                </label>
                <button  class="button button-block button-balanced" ng-disabled="form.$invalid">Adicionar</button>
              </div>
        </form>
    </ion-content>
</ion-view>