<ion-view title="Confronto">
    <ion-content overflow-scroll="false">
        <form name="form" ng-submit="salvarConfronto(confronto)">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Time 01</span>
                        <select ng-model="confronto.time01" required>
                                <option ng-repeat="time in Times">{{time.nome}}</option>
                        </select>
                    </label>
                    <!-- <label class="item item-input item-stacked-label">
                        <span class="input-label">Pontos Time 01</span>
                        <input type="number" ng-model="confronto.pontos01" required>
                    </label> -->
                    <div class="row text-center">
                        <div class="col "><a class="button button-assertive"ng-click="removePontos01()">-</a></div>
                        <div class="col"><h2>{{pontos01}}</h2></div>
                        <div class="col"><a class="button button-balanced" ng-click="addPontos01()">+</a></div>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Time 02</span>
                        <select ng-model="confronto.time02" required>
                                <option ng-repeat="time in Times">{{time.nome}}</option>
                        </select>
                    </label>
                    <!-- <label class="item item-input item-stacked-label">
                        <span class="input-label">Pontos Time 02</span>
                        <input type="number" ng-model="confronto.pontos02" required>
                    </label> -->
                    <div class="row text-center">
                        <div class="col "><a class="button button-assertive"ng-click="removePontos02()">-</a></div>
                        <div class="col"><h2>{{pontos02}}</h2></div>
                        <div class="col"><a class="button button-balanced" ng-click="addPontos02()">+</a></div>
                    </div>
                    <hr style="opacity: 0.25">
                    <!-- <div class="spacer spacer-style"> </div> -->
                    <div>
                        <div>
                            <h1><center>{{minutos}}:{{segundos}}</center></h1>
                        </div>
                        <div class="col text-center">
                            <a class="button button-balanced" ng-click="startStopAction()">{{startStopBtnText}}</a>
                            <a class="button button-balanced" ng-click="resetAction()">REINICIAR</a>
                        </div>
                    </div>

                    <button type="submit" class="button button-block button-assertive" ng-disabled="form.$invalid">Encerrar Confronto</button>
                </div>
        </form>
    </ion-content>
</ion-view>