<ion-view title="Partidas">
        <ion-nav-buttons side="right">
                <button class="button button-icon icon ion-ios-plus-empty" ng-click="addPartida()"></button>
        </ion-nav-buttons>
        <ion-content overflow-scroll="false">
                <div class="list list-inset">
                        <label class="item item-input">
                                <i class="icon ion-search placeholder-icon"></i>
                                <input type="text" placeholder="Procurar" ng-model="search">
                        </label>
                </div>
                <ion-list>
                        <ion-item ng-click="acessarPartida(partida.$id)" class="item-icon-left" ng-repeat="partida in Partidas| filter: search | orderBy: 'nome'">
                                <i class="icon ion-calendar"></i>
                                <h2>{{partida.nome}}</h2>
                                <ion-option-button class="button-assertive" ng-click="apagar(partida.$id)">REMOVER</ion-option-button>
                        </ion-item>
                </ion-list>
        </ion-content>
</ion-view>