<ion-view>
    <ion-nav-title>
        {{grupo.Name}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-edit" ui-sref="editar({id: grupo.$id})"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <div class="list">
            <a class="item item-thumbnail-left" ng-click="acessarJogadores(grupo.$id)">
                <img src="https://image.flaticon.com/icons/svg/53/53254.svg">
                <h2>Jogadores</h2>
            </a>
            <a class="item item-thumbnail-left" ng-click="acessarPartidas(grupo.$id)">
                <img src="https://image.flaticon.com/icons/svg/53/53283.svg">
                <h2>Partidas</h2>
            </a>
        </div>

        <button class="button button-block button-balanced" ng-click="meusEventos()">Meus Eventos</button>
    </ion-content>
</ion-view>