<ion-view title="Jogadores">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ui-sref="cadastroJogador({id: grupo.uid})"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
            <div class="list list-inset">
                    <label class="item item-input">
                      <i class="icon ion-search placeholder-icon"></i>
                      <input type="text" placeholder="Procurar" ng-model="search">
                    </label>
                  </div>     
        <ion-list>
            <ion-item ng-click="show(jogador.$id)" class="item-icon-left" ng-repeat="jogador in Jogadores| filter: search | orderBy: 'nome'">
                <i class="icon ion-person"></i>
                <h2>{{jogador.nome}} {{jogador.sobrenome}}</h2>
                <p>{{jogador.nick}}</p>
                <p>{{jogador.celular}}</p>
            </ion-item>
            <ion-list>
    </ion-content>
</ion-view>