<ion-view title="Eventos">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ui-sref="cadastroGrupo"></button>        
    </ion-nav-buttons>  
    <ion-content overflow-scroll="false">
        <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Procurar" ng-model="search">
            </label>
          </div>        
        <ion-list>
            <ion-item ng-click="acessar(grupo.$id);verificarPags(grupo.$id)" class="item-icon-left" ng-repeat="grupo in Groups | filter: search | orderBy: 'Name'">
                    <i class="icon ion-ios-football" ng-if="grupo.Sport == 'Futebol'"></i>
                    <i class="icon ion-ios-basketball-outline" ng-if="grupo.Sport == 'Basquete'"></i>
                    <i class="icon ion-ios-grid-view-outline" ng-if="grupo.Sport == 'Vôlei'"></i>
                    <h2>{{grupo.Name}}</h2>
                    <p>{{grupo.Day}}</p>
                    <p>{{grupo.Sport}}</p>  
                    <ion-option-button class="button-assertive" ng-click="apagar(grupo.$id)">REMOVER</ion-option-button>     
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>