<ion-view title="Início" hide-nav-bar="true">
    <ion-content overflow-scroll="false" padding="true" style="background: url(img/wallpaper.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer spacer-style"></div>
        <div><img src="img/logo.png" class="logo-inicio"></div>
    <div class="spacer spacer-style"></div>
      <a ui-sref="login()" class="button button-balanced button-block">Entrar</a>
      <a ui-sref="cadastro()" class="button button-light button-block button-clear">Registre-se</a>
    </ion-content>
</ion-view>