<ion-view title="Donos da Bola" hide-nav-bar="true">
    <ion-content class="login" overflow-scroll="false" style="background: url(img/wallpaper.jpg) no-repeat center;background-size:cover;" padding="true">
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <div>
            <img src="img/logo.png" class="logo-inicio">
        </div>
        <div class="spacer spacer-style"></div>
        <form name="form" ng-submit="entrar(user)" class="list">

            <ion-list id="">
                <label class="item item-input">
                    <input type="email" placeholder="E-mail" ng-model="user.email" required>
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Senha" ng-minlength="6" ng-model="user.password" required>
                </label>
            </ion-list>
            <button class="button button-block button-balanced" ng-disabled="form.$invalid">Entrar</button>
            <a class="button button-light button-block button-clear" ng-click="showReset()">Esqueci minha senha</a>
        </form>
    </ion-content>
</ion-view>