<ion-view title="Pagamentos">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <ion-list class="list card">
            <ion-item  class="item item-icon-left" ng-repeat="pag in Pagamentos">
                <i class="icon ion-card"></i>
                Pagou R${{pag.valor}} no dia {{pag.Dia}}
                <ion-option-button class="button-assertive" ng-click="apagar(pag.$id)">REMOVER</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="pagamento.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="bar-balanced">
            <h1 class="title">Adicionar Pagamento</h1>
            <button side="right" class="button button-clear button-primary" ng-click="closeModal()">Cancelar</button>
          </ion-header-bar>
          <ion-content overflow-scroll="false">
             <form name="form" ng-submit="addPag(Pagamento)">
                <div class="list list-inset">
                    <label class="item item-input">
                      <input type="number" placeholder="VALOR" ng-model="Pagamento.valor">
                    </label>
                    <label class="item item-input">
                      <input type="date" placeholder="DATA" ng-model="Pagamento.data">
                    </label>
                    <button ng-disabled="form.$invalid" class="button button-block button-balanced">ADICIONAR</button>
                  </div>
             </form>
          </ion-content>
        </ion-modal-view>
    </script>
</ion-view>