<ion-view title="Partidas do Dia">
    <ion-content overflow-scroll="false">
            <div class="list">
                    <a class="item item-thumbnail-left" ng-click="acessarPresenca(partida.$id)">
                            <img src="https://image.flaticon.com/icons/svg/53/53254.svg">
                            <h2>Lista Presença</h2>
                    </a>
                    <a class="item item-thumbnail-left" ng-click="acessarTimes(partida.$id)">
                        <img src="https://image.flaticon.com/icons/svg/53/53254.svg">
                        <h2>Times</h2>
                     </a>
                    <a class="item item-thumbnail-left" ng-click="acessarConfrontos(partida.$id)">
                        <img src="https://image.flaticon.com/icons/svg/53/53283.svg">
                        <h2>Confrontos</h2>
                    </a>
                </div>
    </ion-content>
</ion-view>