<ion-view title="Presentes">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-person-add" ng-click="addPresenca(partida.$id)"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
            <div class="list list-inset">
                    <label class="item item-input">
                      <i class="icon ion-search placeholder-icon"></i>
                      <input type="text" placeholder="Procurar" ng-model="search">
                    </label>
                  </div> 
            <ion-list class="list card">
                <ion-item class="item item-icon-left" ng-repeat="jogador in Jogadores | filter: search | orderBy: 'nome'">
                    <i class="icon ion-person"></i>
                    {{jogador.nome}} {{jogador.sobrenome}}
                    <ion-option-button class="button-assertive" ng-click="apagar(jogador.$id)">REMOVER</ion-option-button>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-view>