<ion-view title="Configurações">
    <ion-content style="background: url(img/wallpaper.jpg) no-repeat center;background-size:cover;" padding="true" overflow-scroll="false">
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <div>
            <img src="img/logo.png" class="logo-inicio">
        </div>
        <div class="spacer" style="width: 300px; height: 5px;" ></div>
        <ul class="list">      
            <button class="button button-block button-balanced" ng-click="showRePass()">
                <i class="icon ion-ios-locked"> </i>&nbsp&nbsp
                Trocar a senha
            </button>
            <button class="button button-block button-energized " ng-click="showLogout()">
                <i class="icon ion-android-exit"> </i>&nbsp&nbsp
                Sair
            </button>            
            <button class="button button-block button-assertive " ng-click="showConfirm()">
                <i class="icon ion-trash-b"> </i>&nbsp&nbsp
                Deletar a conta
            </button>
        </ul>
    </ion-content>
</ion-view>