<ion-tabs class="tabs-white tabs-icon-top">

  <ion-tab title="Eventos" icon-on="ion-star" icon-off="ion-star"   ui-sref="tabs.events">
    <!-- Tab 2 content -->
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Alertas" icon-on="ion-ios-bell" icon-off="ion-ios-bell"   ui-sref="tabs.alerts">
    <!-- Tab 2 content -->
    <ion-nav-view name="tab-alerts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Configurações" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline"  ui-sref="tabs.settings">
    <!-- Tab 3 content -->
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>