<ion-view title="Times">
    <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-plus" ng-click="criarTimes(partida.$id)"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <ion-list>
            <ion-item class="card" ng-repeat="time in Times">
                    <div class="item item-divider text-center">
                        <i class="icon ion-person-stalker"></i> {{time.nome}}
                    </div>
                    <div class="item item-text-wrap text-center">
                        <p class="item item-divider" ng-repeat="jog in time.Jogadores" ng-click="showConfirm(jog,time.$id)"><i class="icon ion-person"></i> {{jog.nome}}</p>
                    </div>
                    <button class="button button-block button-balanced" ng-click="showPopup(time.$id)">Adicionar Jogador</button>
                    <button class="button button-block button-assertive" ng-click="apagar(time.$id)">Apagar</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>