.login{
    background: url('/img/wallpaper.jpg') no-repeat center;
    background-size: 100% 100%;
}

.borda-transp{
    border: 0px solid transparent;
}

.input-text{
    width: 75%;
}

.logo-inicio{
    max-height: 100%; 
    max-width: 100%
}

.spacer-style{
    width: 300px; 
    height: 60px;
}

.sad-ball{
    width: 50%;
    height: 50%;
}